<a href="https://colab.research.google.com/github/festuge/function-conditional.statement/blob/main/function%26conditional_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How to test functions using Python Doctests

In [1]:
#automated testing
import doctest

In [2]:
def add_numbers(a, b):
  """This function takes twominputs, sum them and return the result
  >>> add_numbers(2, 3)
  5
  >>> add_numbers(10, 2)
  12
  >>> add_numbers(4, 3)
  7
  """
  return a+b

In [3]:
add_numbers(7,8)

15

What are built-in functions?
pyhthon comes with some helpful "built-in" functions that are simply part of the python language and help us do operations

In [4]:
# print
print("forcefully print out whatever you pass")

forcefully print out whatever you pass

In [5]:
#let's see the data type of bmi_joe:
joe_bmi = 27.5
type(joe_bmi)

float

some built in function works well with list.

In [32]:
# lets save a collection of data in a list
this_is_a_string = ("claud", 50, 80, 170, "parrot")
values = (11.82, 65, 48, 58, 55, 90)
print(values)
print(this_is_a_string)

(11.82, 65, 48, 58, 55, 90)
('claud', 50, 80, 170, 'parrot')

we can output the value of a list using "len"

In [33]:
len(values)

6

In [34]:
len(this_is_a_string)

5

In [35]:
values

(11.82, 65, 48, 58, 55, 90)

In [36]:
#smallest value:
min(values)

11.82

In [37]:
#largest value:
max(values)

90

In [38]:
#sort the values:
sorted(values)

[11.82, 48, 55, 58, 65, 90]

docs.python.org

a special built-in function: help()
it pulls up documents of other functions

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [40]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
values

(11.82, 65, 48, 58, 55)

In [ ]:
sorted(values)

[11.82, 48, 55, 58, 65]

?sorted

In [ ]:
?sorted

Methods: build-in function for different data types

In [ ]:
#remember how different data types

String Methods

In [41]:
#string
my_string = "this is a string"

In [42]:
my_string.upper()

'THIS IS A STRING'

capitalize

In [43]:
#capitalize
my_string.capitalize()

'This is a string'

In [44]:
len(my_string.split())

4

check 
www.programiz.com

split

In [45]:
#split
my_string

'this is a string'

In [48]:
my_string.split()

['this', 'is', 'a', 'string']

In [51]:
my_string.casefold()

'this is a string'

List methods. we have already used a few list methods when working with list. we have used methods like .append(), .pop(), .remove(), and .insert()

In [52]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday"]

In [53]:
#finnd the index position of an element in the list:
weekdays.index("Wednesday")

2

In [ ]:
#don't work accross the board
weekdays.remove("Tuesday")
weekdays

['Monday', 'Wednesday', 'Thursday']

In [ ]:
weekdays.append("Friday")
weekdays

['Monday', 'Wednesday', 'Thursday', 'Friday']

Looping functions

In [56]:
#a list of lists (or a nested list) of people's names, heights, weights in meters:
students = [
    ["Joe", 1.82, 84.2],
    ["Susan", 1.59, 56.3],
    ["Holly", 1.66, 59.1],
    ["Meghan", 1.61, 50.8],
    ["Mike", 1.79, 81.3],
    ["Claudi", 1.86, 113.1],
    ["Jane", 1.65, 54.9],
    ["Maria", 1.61, 52.6],
    ["Douglas", 1.91, 89.2],
    ["Sam", 1.86, 86],
]

In [57]:
students

[['Joe', 1.82, 84.2],
 ['Susan', 1.59, 56.3],
 ['Holly', 1.66, 59.1],
 ['Meghan', 1.61, 50.8],
 ['Mike', 1.79, 81.3],
 ['Claudi', 1.86, 113.1],
 ['Jane', 1.65, 54.9],
 ['Maria', 1.61, 52.6],
 ['Douglas', 1.91, 89.2],
 ['Sam', 1.86, 86]]

In [58]:
students[0]

['Joe', 1.82, 84.2]

In [59]:
students[2]

['Holly', 1.66, 59.1]

In [60]:
x = students[0]

In [61]:
x

['Joe', 1.82, 84.2]

In [62]:
x[0]

'Joe'

In [63]:
x[1]

1.82

In [64]:
x[2]

84.2

In [65]:
Joe_bmi = x[2]/(x[1]**2)
Joe_bmi

25.4196353097452

In [67]:
d = students[5]

In [68]:
d[0]

'Claudi'

In [69]:
claudi_bmi = d[2]/(d[1]**2)

In [70]:
claudi_bmi

32.6916406520985

In [71]:
susan_bmi = students[1][2]/(students[1][1]**2)
susan_bmi

22.26968869902298

In [72]:
y = students[1]
susan_bmi = y[2]/(y[1]**2)
susan_bmi

22.26968869902298

In [74]:
def multiple_bmi(list):
  '''
  function to calculate individual BMIs
  Parameters: a nested list of names, height, and weights
  Returns: a list of names and their BMI
  '''
  bmis = []
  #empty list that we'll add things to later
  for x in list:
    #for loop specifying each row in our list of people
    y = x[2]/x[1]**2
    z = [ x[0], y ]
    #print(z)
    bmis.append(z)
    #adds the name and BMI result to our empty list using indexing
    #done in 2 steps because append() only takes 1 arguement at a time
  return bmis
  #returns our list, now filled with names and BMI

In [75]:
multiple_bmi(students)

[['Joe', 25.4196353097452],
 ['Susan', 22.26968869902298],
 ['Holly', 21.447234722020614],
 ['Meghan', 19.59800933605956],
 ['Mike', 25.373739895758558],
 ['Claudi', 32.6916406520985],
 ['Jane', 20.16528925619835],
 ['Maria', 20.292426989699468],
 ['Douglas', 24.45108412598339],
 ['Sam', 24.858365128916635]]

In [76]:
BMIs = multiple_bmi(students)

Python packages: 
What is a package?: python's super powers. other people have written a bunch of code to handle just about any task.

In [77]:
#Packages: need to do x? there's a package for that!
#Meet your first package:math -- comes with mathematical functions like sine, cosine, arctan, square rrot, etc
import math
math.sqrt(4)

2.0

In [ ]:
import math as m
m.sqrt(16)

4.0

What if we only wanted module from Math? python allows you to select specific

In [ ]:
from math import sqrt
sqrt(9)

3.0

python 'IF' statments. run code only if certain conditions are met

In [78]:
if 4 > 5:
  print("Four is greater than five")

In [79]:
if 5 > 4:
  print("Five is greater than four.")

Five is greater than four.

Comparison operators:
== equality
!= inequality(not equal to)
> greater than
< the less than
>= greater than or equal to
<= less than or equal to

In [ ]:
5 == 4

False

In [ ]:
4 != 5

True

The ELSE condition

In [ ]:
money_in_wallet = 5.00
movie_ticket_price = 8.99

if money_in_wallet >= movie_ticket_price:
  print("Go to the movies!")
else:
  print("Stay home and watch netflix")

Stay home and watch netflix

the ELIFE condition

In [80]:
visitor = "George"
if visitor == "Bryce":
  print("Hi Bryce!")
elif visitor == "Jacob":
  print("Hi Jacob!")
elif visitor == "George":
  print("Hi George!")
else:
  print("Please to meet you!")

Hi George!

The 'in' keyword

In [81]:
friends = ["Bryce", "Jacob", "Mike", "Ben", "Young"]
visitor = "Claudi"
if visitor in friends:
  print("Hi" + visitor + "!")
else:
  print("Please to meet you!")

Please to meet you!

Logical operators
'and'
'or'

In [83]:
wants_to_learn_data_science = True
will_work_hard = True
age = 20

if age >= 21 and wants_to_learn_data_science and will_work_hard:
  print("Go to OSTEMB School!")
elif wants_to_learn_data_science or will_work_hard or age >= 18:
  print("Your future is bright")
else:
  print("Find something that is a good fit for you")

Your future is bright

In [ ]:
##STOP! BEFORE GOING ANY FURTHER...  


#1. Click "File" at the top.
#2. Then, "Save a Copy in Drive."
#3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

#Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

In [ ]:
## Part 1: Functions

In [ ]:
### Built-in functions
#---
#Make sure to run the cell below before beginning your assignment.

In [84]:
x = ["a", "b", "c", "d", "e", "f"]

In [ ]:
### 1.1 For the list of values provided:


#   Max?
#   Min?
#   Number of elements in the list?
#   Sort the list in _descending_ order.

In [93]:
#TODO Max
max(x)

'f'

In [94]:
#TODO Min
min(x)

'a'

In [95]:
#TODO number of elements
len(x)

6

In [96]:
#TODO Sort
sorted(x)

['a', 'b', 'c', 'd', 'e', 'f']

### Methods

### 1.2 Using the same list:

*  Remove the second to last element. 
*  Add the letter "z" to the list.
*  Empty out the list.

In [113]:
x = ["a", "b", "c", "d", "e", "f"]

In [114]:
#TODO
x.remove("e")
x

['a', 'b', 'c', 'd', 'f']

In [115]:
#TODO
x.insert(2, 'r')
x

['a', 'b', 'r', 'c', 'd', 'f']

In [116]:
x.append("z")
x

['a', 'b', 'r', 'c', 'd', 'f', 'z']

### 1.3 For the string provided:

* Capitalize the entire string.
* Split the string at every empty space.

In [119]:
y = "to thine own self be true, and it must follow, as the night, the day, thou can not then be false to any man."

In [120]:
#TODO
y.upper()

'TO THINE OWN SELF BE TRUE, AND IT MUST FOLLOW, AS THE NIGHT, THE DAY, THOU CAN NOT THEN BE FALSE TO ANY MAN.'

In [121]:
#TODO
y.split()

['to',
 'thine',
 'own',
 'self',
 'be',
 'true,',
 'and',
 'it',
 'must',
 'follow,',
 'as',
 'the',
 'night,',
 'the',
 'day,',
 'thou',
 'can',
 'not',
 'then',
 'be',
 'false',
 'to',
 'any',
 'man.']

### Custom Functions

### 1.4 Create a function that returns the sum of two numbers.

In [122]:
#TODO (Function name should be called summation)
def summation(num1, num2):
  y = num1 + num2
  return(y)

In [123]:
summation(5, 9)

14

In [124]:
assert(5==summation(2,3)) # RUN BUT DO NOT MODIFY THIS CELL, IF IT RUNS WITHOUT ERRORS THEN YOUR CODE ABOVE WORKS

### 1.5 Create a function that, given a list of numbers, returns their average.

In [131]:
#TODO (Function name should be called average)
def average(num):
  sum_num = 0
  for t in num:
    sum_num = sum_num + t
  avg = sum_num / len(num)
  return(avg)

In [134]:
assert(3==average([1,2,3,4,5])) # RUN BUT DO NOT MODIFY THIS CELL, IF IT RUNS WITHOUT ERRORS THEN YOUR CODE ABOVE WORKS

In [139]:
print("The average is", average([1,2,3,4,5]))

The average is 3.0

### 1.6 Create a function that, given a string, returns that string capitalized and reversed.

In [13]:
def capreverse(s):
  str = ""
  for i in s:
    str = i.capitalize() + str
  return str

In [14]:
assert('EGUOLO'==capreverse('olouge')) # RUN BUT DO NOT MODIFY THIS CELL, IF IT RUNS WITHOUT ERRORS THEN YOUR CODE ABOVE WORKS

In [80]:
capreverse("Claudi")

'IDUALC'

### 1.7 Create a function that, given a list of strings, concatenates them together with proper spacing.

#TODO (Function name should be called concatstr)

In [ ]:
def concatstr